.add-button {
  background-image: url('../../images/AddButton.png');
  background-size: cover;
  width: 150px;
  height: 50px;
  background-color: #000;
  border: none;
  cursor: pointer;
}

.add-button:hover {
  opacity: 0.6;
  transition: opacity 0.4s linear;
}

@media screen and (max-width: 320px) {
  .add-button {
    background-image: url('../../images/AddButtonMobile.svg');
    margin-top: 36px;
    width: 282px;
  }
}
