.button-like_active {
  display: none;
  background-image: url('../../../images/LikeActive.svg');
  background-size: cover;
  background-color: transparent;
  border: none;
  width: 22px;
  height: 19px;
  align-self: center;
  padding: 0;
}
